body {
  font-family: sans-serif;
}

.weather-form {
  position: relative;
  text-align: center;
}

input, button {
  display: block;
  margin: 10px auto;
  width: 250px;
}

input {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

button {
    padding: 20px;
    color: white;
    background-color: #044757;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: #076980;
}
